<div class="l-sx-footer">
    <div class="l-sx-footer-upper">
        <div class="l-tabs-seo t3-js-anchorlinks-wrapper">
            <div class="tabs-seo">
                {{ aCMSSnippets['Tabs']|raw }}
            </div>

            {{ aCMSSnippets['Tab1']|raw }}

            {{ aCMSSnippets['Tab2']|raw }}

            {{ aCMSSnippets['Tab3']|raw }}

        </div>

        {{ aCMSSnippets['PrefooterBottom']|raw }}

    </div>

</div>